In [29]:
import pandas as pd
from pykrx import stock

In [30]:
kodex200_ticker = "069500"

years = range(2013, 2023)

data_frames = []
for year in years:
    start_date = f"{year}-01-04"
    end_date = f"{year+1}-01-03"
    
    if year == 2022:
        end_date = f"{year+1}-01-04"

    ohlcv_data = stock.get_etf_ohlcv_by_date(start_date, end_date, kodex200_ticker, 'd')

    deviation = stock.get_etf_price_deviation(start_date, end_date, kodex200_ticker)
    deviation = deviation['괴리율']

    error = stock.get_etf_tracking_error(start_date, end_date, kodex200_ticker)
    error = error['추적오차율']

    feature_df = pd.concat([ohlcv_data, deviation], axis = 1)
    feature_df = pd.concat([feature_df, error], axis =1)
    data_frames.append(feature_df)

combined_df = pd.concat(data_frames)
combined_df.drop(['기초지수', '거래대금'], axis=1, inplace=True)
combined_df.head()

                 NAV     시가     고가     저가     종가      거래량   괴리율  추적오차율
날짜
2013-01-04  26950.53  27060  27080  26825  26870  5112298 -0.30  -0.01
2013-01-07  26927.29  26895  26930  26685  26885  4449424 -0.16  -0.03
2013-01-08  26719.95  26755  26860  26600  26600  3925874 -0.45  -0.01
2013-01-09  26608.77  26655  26765  26490  26500  4889353 -0.41  -0.02
2013-01-10  26812.66  26545  26800  26440  26735  5232167 -0.29  -0.01

In [31]:
combined_df.tail()

                 NAV     시가     고가     저가     종가      거래량   괴리율  추적오차율
날짜
2022-12-28  30227.32  30355  30395  30100  30135  7272311 -0.31   0.56
2022-12-29  29626.57  29970  30010  29595  29595  5512087 -0.11   0.56
2023-01-02  29494.72  29665  29830  29390  29420  5627556 -0.25   0.56
2023-01-03  29473.67  29455  29545  28870  29420  9260988 -0.18   0.56
2023-01-04  30116.74  29255  30110  29240  30040  8096923 -0.25   0.56

In [32]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2462 entries, 2013-01-04 to 2023-01-04
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAV     2462 non-null   float64
 1   시가      2462 non-null   uint32
 2   고가      2462 non-null   uint32
 3   저가      2462 non-null   uint32
 4   종가      2462 non-null   uint32
 5   거래량     2462 non-null   uint64
 6   괴리율     2462 non-null   float32
 7   추적오차율   2462 non-null   float32
dtypes: float32(2), float64(1), uint32(4), uint64(1)
memory usage: 115.4 KB

In [34]:
combined_df = combined_df.loc[~combined_df.index.duplicated(keep='first')]

In [33]:
extracted_rows = combined_df[combined_df.index == '2016-01-04']
print(extracted_rows)

                 NAV     시가     고가     저가     종가      거래량  괴리율  추적오차율
날짜
2016-01-04  23896.74  24265  24275  23850  23850  6928106 -0.2   1.97

In [35]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2462 entries, 2013-01-04 to 2023-01-04
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAV     2462 non-null   float64
 1   시가      2462 non-null   uint32
 2   고가      2462 non-null   uint32
 3   저가      2462 non-null   uint32
 4   종가      2462 non-null   uint32
 5   거래량     2462 non-null   uint64
 6   괴리율     2462 non-null   float32
 7   추적오차율   2462 non-null   float32
dtypes: float32(2), float64(1), uint32(4), uint64(1)
memory usage: 115.4 KB

In [36]:
combined_df.to_csv("./Data/kodex200_data.csv")